[submodule "third_party/module/cmake-kconfig"]
	path = third_party/module/cmake-kconfig
	url = https://github.com/SuicideCatt/cmake-kconfig
[submodule "third_party/module/glm"]
	path = third_party/module/glm
	url = https://github.com/g-truc/glm
[submodule "third_party/module/imgui"]
	path = third_party/module/imgui
	url = https://github.com/ocornut/imgui
