config NYAANWORK_TESTS
	bool "Enable tests"
	default n

config NYAANWORK_TESTS_CORE
	bool "Core"
	default y
	depends on NYAANWORK_TESTS

config NYAANWORK_TESTS_ASSET
	bool "Asset"
	default y
	depends on NYAANWORK_TESTS && NYAANWORK_ASSET

config NYAANWORK_TESTS_WINDOW_SYSTEM
	bool "WindowSystem"
	default y
	depends on NYAANWORK_TESTS && NYAANWORK_WINDOW_SYSTEM

config NYAANWORK_TESTS_INPUT
	bool "Input"
	default y
	depends on NYAANWORK_TESTS && NYAANWORK_INPUT

config NYAANWORK_TESTS_IMGUI
	bool "ImGUI"
	default y
	depends on NYAANWORK_TESTS && NYAANWORK_IMGUI
