config NYAANWORK_ASSET
	bool "Enable Asset module"
	default y

config NYAANWORK_ASSET_IMAGE
	bool "Pixels, Colors, Image, ImageView"
	default y
	depends on NYAANWORK_ASSET

config NYAANWORK_ASSET_TILE
	bool "TileView, Tile, TileSet"
	default y
	depends on NYAANWORK_ASSET_IMAGE
